---
import { Image } from "astro:assets";
import howItWorksImage from "@/images/help1.jpg";
import featuresImage from "@/images/help3.jpg";

import Lebedka from "@/layouts/Lebedka.astro";

import Hero from "@/components/Hero.astro";
import Header from "@/components/Header.astro";
import Faq from "@/components/Faq.astro";
import Section from "@/components/Section.astro";
import Footer from "@/components/Footer.astro";
import Features from "@/components/Features.astro";
import Review from "@/components/ReviewList.astro";
import Split from "@/components/partial/Split.astro";
import HowItWorks from "@/components/HowItWorks.astro";
import WorkFlow from "@/components/WorkFlow.astro";
import ButtonLink from "@/components/partial/ButtonLink.astro";
---

<Lebedka>
  <Header />

  <Hero />

  <Section
    centeredTitle
    subtitle="лебёдка77"
    title="Мы специализируемся на оказании помощи в сложных внедорожных ситуациях. Наша команда профессионалов готова прийти на помощь в любое время и в любом месте, чтобы вытащить вас из грязи, снега или других сложных условий."
  />

  <Section
    id="how-it-works"
    title="Почему <mark>мы сможем помочь</mark>"
    subtitle="Почему мы"
  >
    <Split>
      <Fragment slot="start">
        <Image src={howItWorksImage} quality="mid" alt="Грязная машина" decoding="auto"/>
      </Fragment>
      <Fragment slot="end">
        <HowItWorks />
      </Fragment>
    </Split>
  </Section>

  <Section
    centeredTitle
    subtitle="лебёдка77"
    title="Мы используем только самое современное оборудование и технику, чтобы обеспечить <mark>быстрое и эффективное решение вашей проблемы</mark>. Доверьтесь нам, и мы вытащим вас из любой ситуации!</span>"
  />

  <Section
    centeredTitle
    id="work"
    title="В каких ситуациях <mark>мы сможем помочь</mark>"
    subtitle="Помощь каждому"
  >
    <WorkFlow />
  </Section>

  <Section title="<mark>Как</mark> мы помогаем">
    <Split>
      <Fragment slot="end">
        <Image src={featuresImage} quality="mid" alt="Грязная машина" decoding="auto"/>
      </Fragment>
      <Fragment slot="start">
        <Features />
      </Fragment>
    </Split>
  </Section>

  <Section id="photos" title="Фотографии" subtitle="Работаем">
    <p>Совсем скоро здесь появятся фотографии. Ещё чуть-чуть.. Может быть завтра.</p>
  </Section>

  <Section
    subtitle="помогать"
    title="Вступайте <mark>в группу помощи</mark> и получите скидку до 25%"
  >
    <ButtonLink
      classes="+centered"
      size="l"
      href="https://t.me/Lebedka77"
      theme="ghost">Вступить в группу</ButtonLink
    >
  </Section>

  <Section
    id="reviews"
    title="Более <mark>750</mark> обратившимся успешно оказана помощь"
    subtitle="отзывы"
  >
    <Review />
  </Section>

  <Section id="faq" title="Часто задаваемые вопросы" subtitle="Вопросы">
    <Faq />
  </Section>

  <Footer />
</Lebedka>

<style is:global>
  mark {
    color: var(--color-accent);
    background: none;
  }

  img {
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
  }

  .\+centered {
    margin-inline: auto;
  }

  .\+frame {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: var(--color-accent);
      transform: rotate(1deg) skewX(0.9deg);
      z-index: -1;
      border-radius: var(--radius-3);
      opacity: 0.25;
    }

    & + &::after {
      transform: rotate(-0.5deg) skewX(-0.71deg);
    }

    & + & + &::after {
      transform: rotate(-1.2deg) skewX(-0.11deg);
    }
  }
</style>
