---
interface Hero {
  title: string;
  text: string;
  image: string;
}

import ButtonLink from "@/components/partial/ButtonLink.astro";
import { Image } from "astro:assets";
import heroImage from "@/images/hero2.jpg";

const { title, text, classes, ...rest } = Astro.props;

const data = {
  title: "Застряли? Вытащим!",
  text: "Мы специализируемся на оказании помощи в сложных внедорожных ситуациях. Наша команда профессионалов готова прийти на помощь в любое время и в любом месте, чтобы вытащить вас из грязи, снега или других сложных условий.",
};
---

<section class:list={["app-hero", { classes }, { ...rest }]}>
  <div class="app-hero__inner">
    <div class="_text">
      <h1 class="_title">{data.title}</h1>
      <p class="_message">
        Звони – вытащим из любой ситуации.<br />
        Москва и Московская область.<br/>
        24/7
      </p>

      <div class="_phones">
        <ButtonLink theme="ghost" href="tel:+79935944137">
          Позвонить
        </ButtonLink>
        <ButtonLink
          theme="ghost"
          href="https://api.whatsapp.com/send/?phone=79935944137&text=Здравствуйте!+Мне+нужна+помощь+Лебёдки77! "
        >
          WhatsApp
        </ButtonLink>
        <ButtonLink theme="ghost" href="https://t.me/Lebedka77">
          Telegram
        </ButtonLink>
      </div>
    </div>

    <div class="_image">
      <Image
        src={heroImage}
        quality="high"
        widths={[600, heroImage.width]}
        sizes={`((max-width: 960px) 600px,${heroImage.width}px`}
        alt="Бездорожье с застрявшими машинами"
        decoding="auto"
        loading="eager"
      />
    </div>
  </div>
</section>

<style lang="scss">
  .app-hero {
    --_height: min(600px, 90dvh);

    @media (width > 960px) {
      --_height: clamp(600px, 100dvh, 800px);
    }

    display: grid;
    grid-template-columns: 100%;
    height: var(--_height);
    background: var(--color-surface-1);
    overflow: clip;

    @media (width > 960px) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.75),
          rgba(0, 0, 0, 0.75)
        ),
        url(/images/bg1.webp);
       background-size: cover;
    }

    &__inner {
      display: grid;
      grid-template-columns:
        minmax(0, 1fr) repeat(
          2,
          minmax(0, calc(var(--container-max-width) / 2))
        )
        minmax(0, 1fr);
      grid-template-areas: ". text image image";
      height: 100%;

      @media (width < 960px) {
        grid-template-columns: 100%;
        grid-template-areas: "image";
      }
    }

    ._text {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      gap: 2.4rem;
      grid-area: text;
      align-self: center;

      @media (width < 960px) {
        position: relative;
        z-index: 2;
        grid-area: image;
        padding-block: 3.2rem;
        padding-inline: 1.6rem;
        max-width: var(--container-max-width);
        justify-self: center;
        height: 100%;
      }

      h1 {
        margin: auto;
        color: var(--color-text-primary);
        font-size: clamp(3.2rem, 10vmin, 8.2rem);
        line-height: 1.15;
        font-weight: 600;
        text-wrap: balance;
        font-family: var(--font-family-secondary);
      }

      ._message {
        color: var(--color-text-default);
        text-wrap: balance;
        font-family: var(--font-family-primary);
        font-size: 2.4rem;
        line-height: 1.2;
      }

      ._phones {
        display: flex;
        flex-flow: column;
        gap: 1.6rem;
        width: 80%;
      }
    }

    ._image {
      grid-area: image;

      @media (width < 960px) {
        place-self: end end;
        text-align: right;
      }

      img {
        @media (width > 960px) {
          animation: shadowin forwards;
          animation-delay: 0.33s;
          animation-duration: 1.5s;

          @keyframes shadowin {
            from {
              filter: drop-shadow(0 0 0 #ae52523d) drop-shadow(0 0 0 #ae525221)
                drop-shadow(0 0 0 #ae52523d) drop-shadow(0 0 0 #ae525221);
            }
            to {
              filter: drop-shadow(42px 0 0 #ae52523d)
                drop-shadow(84px 0 0 #ae525221) drop-shadow(-42px 0 0 #ae52523d)
                drop-shadow(-84px 0 0 #ae525221);
            }
          }
        }

        @media (width < 960px) {
          position: relative;
          z-index: 1;
          width: 100%;
          height: var(--_height);
          margin-left: auto;
          object-fit: cover;
          translate: 50% 0;
          opacity: 0.25;
        }

        @media (width > 960px) {
          width: auto;
          height: var(--_height);
        }
      }
    }
  }
</style>
