---
const how = [
  {
    name: "Профессиональная команда",
    text: "Наша команда состоит из опытных специалистов, которые имеют многолетний опыт работы в области оказания помощи в сложных внедорожных ситуациях. Мы готовы прийти на помощь в любое время и в любом месте, чтобы вытащить вас из грязи, снега или других сложных условий. Мы работаем круглосуточно и готовы быстро реагировать на любые запросы.",
  },
  {
    name: "Современное оборудование",
    text: "Мы используем только самое современное оборудование и технику, чтобы обеспечить быстрое и эффективное решение вашей проблемы. В нашем арсенале есть лебедки высокого качества, полный набор инструментов и надежная техника, которая позволяет нам работать в любых погодных условиях.",
  },
  {
    name: "Широкий спектр услуг",
    text: "Мы специализируемся на оказании помощи в сложных внедорожных ситуациях. Мы готовы вытащить вас из грязи, снега или других сложных условий. Мы работаем в любых погодных условиях и готовы помочь вам в любое время.",
  },
  {
    name: "Индивидуальный подход",
    text: "Мы понимаем, что каждая ситуация уникальна, поэтому мы разрабатываем оптимальное решение для каждого клиента. Мы учитываем особенности каждой ситуации и предлагаем гибкие и адаптивные решения, чтобы обеспечить наилучший результат.",
  },
  {
    name: "Надежность и безопасность",
    text: "Мы строго соблюдаем правила безопасности и заботимся о клиентах и их имуществе. Мы гарантируем качество нашей работы и всегда готовы предложить надежное и безопасное решение для вашей проблемы.",
  },
];

const data = how;
---

<ul class="app-how-list">
  {
    data.map((item) => (
      <li class="_item">
        <div class="_name">{item.name}</div>
        <div class="_text" set:html={item.text} />
      </li>
    ))
  }
</ul>

<style lang="scss">
  .app-how-list {
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 2.4rem;

    ._name {
      font-size: 3.2rem;
      font-weight: 500;
      color: var(--color-accent);
      margin-bottom: 1rem;
      font-family: var(--font-family-secondary);
    }

    ._text {
      line-height: 1.5;
      text-wrap: balance;
    }
  }
</style>
